/.metadata
.vscode
.settings
*.o
*.d
*.exe
*.out
*.log
*.txt
*.csv
*.sca
*.vec
*.vci
*.vcd
*.vcdx
*.vci
*.vci
*.vci
*.vci
*.vci
*.vci
*.vci
*.vci
*.vci
*.vci
*.vci
*.vci
*.vci
*.vci
Distributed_Execution/.settings/
Distributed_Execution/.vscode/
